	.table{font-size:14px; border:2px solid #333; }
	.element{font-size:14px; border:2px solid #333; }
	.success {background-color:#7af668;}
	.warning {background-color:#FFD141 ;}
	.primary {background-color:#66a6e7;}
	.danger {background-color:#fd3d1f;}
	
 
  .circle {border-radius:50px;padding:10px;}
  .right{float:right;}
  .trash{margin: 5px; display:block; width:70px; height: 25px; border:1px; background-color: red; position:relative; float:right;}
  .newtable{margin: 5px; display:block; border:2px solid #333;  position:relative; float:right;padding:2px;}
   
   .newchiar {margin: 5px; display:block; width:25px; height: 25px; border:1px; background-color: #AADDC0; position:relative; float:right; }

    .hallplace {display:block;  border:1px; background-color: #FFFFC0;margin:15px; }
   .chiar {display:block; width:11px; height: 11px; border:1px; background-color: #AADDC0; position:absolute;}

 .left-top{left:-16px; top:1px;}
  .left-bottom{left:-16px; bottom:1px;}

  .right-top{right:-16px; top:1px;}
  .right-bottom{right:-16px; bottom:1px;}

  .top-left{left:1px; top:-16px;}
  .top-right{right:1px; top:-16px;}

  .bottom-left{left:1px; bottom:-16px;}
  .bottom-right{right:1px; bottom:-16px;}

  .top-left-corner{left:-16px; top:-16px;}
  .top-right-corner{right:-16px; top:-16px;}

  .bottom-left-corner{left:-16px; bottom:-16px;}
  .bottom-right-corner{right:-16px; bottom:-16px;}
  
 		
		